/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* This is my code below */

* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}



header {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 30px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}
header nav ul li {
   display:block;
   float: left;
   list-style:none;
   padding: 0px 16px;
   position: relative;
}

header nav ul li ul {
    display:block;
    position: absolute;
    background-color: #fff;
}

header nav ul li a {
    display: block;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
    color: #111;
    text-transform: uppercase;
}

header .header-cases {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
        margin:31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 1px  solid #000;
        float: left;
        }
        header nav ul {
            margin: 20px 0px 0px 10px;
            float: left;
        }

        header nav ul li a {
            line-height: 60px;   
        }

        header .header-cases {
            display: block;
            font-family: 'Delicious Handrawn', cursive;
            font-size: 20px;
            color: #111;
            text-transform: uppercase;
            line-height: 38px;  
            border: 1px solid #111;
            float: right;
            letter-spacing: normal;
            margin-right: 40px;
            padding: 0 20px;
            margin-top: 30px;
        }   
    
    }

/* index */

.index-banner {
    width: 100%;
    height:calc(100vh - 100px);
    background-image: url(img/forex-pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: table;
 
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;    
}

.index-banner h2 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    line-height: 70px;
    text-align: center ; 
    text-shadow: 2px 2px 8px #111; 
}

.index-banner h1 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    text-align: center ; 
    text-shadow: 5px 5px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

p {
    color: #000;
}


.index-links div h3 {
    font-family: 'Delicious Handrawn', cursive;

    color: #111;
    font-weight: 200;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase ; 
}


@media only screen and (min-width: 1000px) {
    .wrapper {
        width:1000px;
        margin: 0 auto;
    }
    .index-banner {
        height: 480px;
        
    }
    .index-banner h1 {
        display: block;
        width: 580px;
        margin: 0 auto;

    }

    .index-links {
        overflow: hidden;
    }

    .index-links div {
        margin: 20px 10px 0;
        height: 200px;
        background-color: #f2f2f2;
        float: left;
    }

        
    .index-boxlink-square{
        width: calc(25% - 20px) !important;

    }
    .index-boxlink-rectangle{
        width: calc(50% - 20px) !important;
    }

    
    .index-links div h3 {
        line-height: 200px;
   }
    
}

/*cases*/


.cases-links {
    overflow: hidden;
    margin-bottom: 20px;
  
}

.cases-links h2 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 28px;
    color: #111;
    font-weight: 200;
    text-transform: uppercase ; 
}



.cases-links .cases-link {
    float: left;
    width: 230px;
    height: 230px;
    margin: 20px 10px 0px;
    background-color: #e3e3e3;

}

.cases-links .cases-link p {
    font-family: 'Delicious Handrawn', cursive;
    padding-top: 45%;
    font-size: 20px;
    color: #111;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase ; 
}

.contact-link {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background:#f2f2f2;
}

.contact-link .contact-links h2  {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
    word-spacing: 5px;
    color: #111;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase ; 
    line-height:30px;
}

.contact-link .contact-links p  {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
    color: #111;
    font-weight: 200;
    text-align: center; 
    line-height: 30px;
}
/*case1*/

.case-vid h2 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 28px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase ; 
    text-align: center;
    line-height:60px;
}

.case-vid video {
    display: block;
    margin: 0 auto;
}

.case-vid article h3 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 30px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase ; 
    line-height: 30px;
    padding-bottom: 20px;
}

.case-vid article P {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
    color: #111;
    font-weight: 200;
    text-transform: uppercase ; 
    line-height: 30px;
    column-count: 4;
    column-gap: 30px;

}

/*cases2*/

.case-poster div h2 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 28px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase ; 
    text-align: center;
    line-height:60px;
}

.case-poster img {
    width: 100%;
    margin-bottom: 20px;
    
}


.case-poster article h3 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 30px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase ; 
    line-height: 30px;
    padding-bottom: 20px;
}

.case-poster article p {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
    color: #111;
    font-weight: 200;
    text-transform: uppercase ; 
    line-height: 30px;
    column-count: 4;
    column-gap: 30px;

}

/*cases3*/

.container {
    width: 100%;
    height: 500px;
    background-color: #ccc;

    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-content: space-between ;
    
}

.item {
    background-color: red;
    flex-basis:30%;
}

.item2 {
    background-color: green;
    flex-basis:60%;
}

/*Gallery*/

.gallery-links-h2 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 28px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase ; 
    text-align: center;
    padding: 20px;
}

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-img {
   flex-basis: 90%;
   margin: 10px;
}

.gallery-img img {
    width: 100%;
 }


/*media query for gallery*/ 

@media only screen and (min-width: 762px) {
    .gallery-links-h2 {
        font-size: 28px;
    }
    .gallery-img {
        flex-basis: 300px;
     }
}

/*footer*/

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background:black;
    overflow: hidden;
}

footer ul {
    width:fit-content;
    float:left;
    padding-left: 20px;
}

footer ul li {
    display:block;
    list-style:none;
}

footer ul li a {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
} 

.footer-link-cases {
    display: none;
}

.footer-sm {
    width: 20px;
    float: right;
}

.footer-sm img {
    width:100%;
    margin-bottom: 10px;
}
::-ms-input-placeholder {
    color: red;
}

@media only screen and (min-width: 1000px) {
    .footer-link-cases {
        display: block;
        
    }
    
    footer ul li p {
        font-family: 'Delicious Handrawn', cursive;
        font-size: 20px;
        color: #fff;
        line-height: 40px;
    } 

    footer ul {
        padding-left: 40px;
    }
  
}



